.exam-card {
    
    border-radius: 10px;
  overflow: hidden;    /* Ẩn các phần tử ngoài vùng card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng mờ nhẹ cho card */
  }
  
  .card-image {
    box-sizing: border-box;
    object-fit: contain; /* Giữ tỷ lệ ảnh mà không bị cắt */
  width: 100%;         /* Đảm bảo ảnh chiếm hết chiều rộng của card */
  height: 200px;       /* Tùy chỉnh chiều cao ảnh nếu cần */
  padding: 16px;
  
  border-bottom: 1px solid black; /* Thêm viền trắng xung quanh ảnh */
}
  .exam-card .card-body {
    text-align: left;    /* Căn trái nội dung */
    padding: 15px;       /* Tăng lề trong card nếu cần */
  }
  .rating {
    font-size: 1.2rem;
  }
  /* CSS cho ảnh đại diện giáo viên */
.teacher-avatar {
  width: 68px; /* Đặt chiều rộng của ảnh */
  height: 68px; /* Đặt chiều cao của ảnh */
  border-radius: 50%; /* Để ảnh thành hình tròn */
  object-fit: cover; /* Đảm bảo ảnh được cắt đúng tỉ lệ */
  right: 15px; /* Căn phải của ảnh */
  top: 164px; /* Đặt ảnh hơi ở trên của điểm giao giữa ảnh và text */
  border: 1px solid black; /* Thêm viền trắng xung quanh ảnh */
}

  