/* Custom CSS for additional styles not covered by Bootstrap */

:root {
    --primary-color: #0004ff;
  }
  
  /* General resets and utility classes */
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
  }
  
  a {
    text-decoration: none !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #2a2a2a;
  }
  
  /* Custom button styles */
  .border-button a {
    font-size: 15px;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    padding: 10px 30px;
    border-radius: 10px;
    transition: all .3s;
  }
  
  .border-button a:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
  

  /* Custom form styles */
  .form-main {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
  }
  
  .form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form .form-group {
    margin-bottom: 15px;
  }
  
  .form .form-control {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Tùy chỉnh Bảng Ngân hàng câu hỏi */
  .table-responsive {
    overflow-x: auto;
  }
  
  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .table th,
  .table td {
    vertical-align: middle; /* Căn giữa nội dung */
    word-wrap: break-word; /* Bẻ từ nếu cần thiết */
  }
  

  /* Thanh điều hướng trang trong bài thi */
  .pagination-controls {
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Đảm bảo chiều dài của thanh điều hướng bằng với Card */
  }
  
  .pagination-controls button {
    flex: 0 0 auto;
  }
  
  .pagination-controls span {
    align-self: center;
  }

/* CSS cho trang HomePage */

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Chọn phông chữ hiện đại */
  font-size: 36px; /* Kích thước chữ lớn vừa phải */
  font-weight: 600; /* Chữ đậm để tạo sự nổi bật */
  color: #333; /* Màu chữ tối cho sự dễ đọc */
  text-align: left; /* Căn giữa tiêu đề */
  letter-spacing: 1px; /* Khoảng cách giữa các chữ */
  margin-bottom: 20px; /* Khoảng cách dưới tiêu đề */
  text-transform: uppercase; /* Viết hoa tất cả chữ cái */
  position: relative;
}

.title::after {
  content: ''; /* Tạo một đường gạch dưới */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #007bff; /* Màu của đường gạch dưới */
  border-radius: 5px; /* Làm cho đường gạch dưới có góc bo tròn */
}




  /* Footer styles */
  .bg-footer {
    background-color: #3c0fba !important;
  }
  .footer-contain {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
  }
  
  .footer-contain .contact-info {
    margin-bottom: 10px;
  }
  
  .footer-contain .social-media a {
    color: white;
    margin-right: 10px;
    transition: color 0.3s;
  }
  
  .footer-contain .social-media a:hover {
    color: #f1c40f;
  }
  